* {
  box-sizing: border-box;
}

.con1 {
  background-image: url(./references/beerfest.jpg);
  background-size: cover;
  background-color: #ffba00;
}

.inputTitle {
  font-size: 360%;
  font-family: "Germania One";
}

body {
  background-position: center center;
  background-image: linear-gradient(#ffb449, #fddd5c, #ffb449);
}

.btn {
  font-family: "Germania One";
  width: 25%;
  background-color: #ffb449;
}

.slider {
  width: 75%;
  margin-left: 13%;
}

.inputText {
  font-size: 250%;
  color: #29b6f6;
  font-family: "Germania One";
}
.inputText2 {
  font-size: 150%;
  color: white;
  font-family: "Germania One";
}

.beerImage {
  width: auto;
  height: 30%;
}

.beerDisplay {
  font-family: "Germania One";
}

.foodText {
  color: white;
  font-size: 25px;
  font-family: "Germania One";
}

.beerTag {
  font-size: 20px;
}

.snackTitle {
  font-size: 40px;
  color: #29b6f6;
  font-family: "Germania One";
}

#beerDesc {
  font-size: 165%;
}

.card {
  background-color: #29b6f6;
  font-family: "Germania One";
  text-align: center;
  color: white;
  font-size: 200%;
}
